{% extends 'admin/admin.html.twig' %}

{% block title 'Ajouter une nouvelle recette' %}

{% block body %}
    <h1>Ajouter une nouvelle recette</h1>

    {{ form(form) }}
    
{% endblock %}
