{% extends 'admin/admin.html.twig' %}

{% block title %}Catégorie : {{ category.name }}{% endblock %}

{% block body %}
    <h1>Editer {{ category.name }}</h1>

    {{ form(form) }}
    
{% endblock %}